/* body {
  box-sizing: border-box;
  margin: 0 auto;
} */

li {
  list-style-type: none;
}

/* ********************* IMAGES ****************** */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  display: flex;
  padding: 24px 156px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.basicLightbox {
  z-index: 999;
}

.basicLightbox__image img {
  width: 100%;
  height: auto;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: calc((100% - 48px) / 3);
  display: block;
  width: 100%;
  height: auto;
}
